.admin_nav{
    display: flex;
    min-height: 400px;
    flex-direction: column;
    text-decoration: none;
}

.admin_div{
    
}

.side_menu_NavLink{
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 20px 15px;
    text-align: left;
}