.mainbanner{
    display: flex;
    min-height: 500px;
}

.mainbanner_sub{
    width: 50%;
}

.carusel_holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carusel_ig{
    width: 70% !important;
    height: auto;
}

.text_holder{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
}

.text_holder_main{
    width: 90%;
    text-align: left;
    font-size: 60px;
    font-weight: 800;
    color: #51628f;
}