.login_div{
    background-image: url('https://i.ibb.co/WsyJN8G/Drone-regulations.jpg');
    /* background-image: url('https://cdn.kyfb.com/KYFB/assets/File/Insurance/Drone%20regulations.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 500px;
    display: flex;
    justify-content: center;
    color: black;
}

.login_form_holder{
    margin-top: 30px;
    width: 80%;
    text-align: left;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
}

.input_basic{
    height: 40px;
    border-radius: 5px;
    width: 70%;
}

.login_btn{
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #1c54e2;
}

.login_btn:hover {
    background-color: #1c54e2; 
    color: white; 
  }

  .login_welcome_msg{
    text-align: left;
    font-size: 60px;
    font-weight: 800;
    color: #51628f;
  }